$--light-talk-shadow-root-font-size: 16px;
$--light-talk-colors-transparent: transparent;
$--light-talk-colors-white: #FFFFFF;
$--light-talk-colors-whiteAlpha-700: rgba(255, 255, 255, 0.64);
$--light-talk-colors-blackAlpha-100: rgba(0, 0, 0, 0.06);
$--light-talk-colors-gray-100: #EDF2F7;
$--light-talk-colors-gray-300: #CBD5E0;
$--light-talk-colors-gray-400: #A0AEC0;
$--light-talk-colors-gray-500: #718096;
$--light-talk-colors-gray-700: #2D3748;
$--light-talk-colors-red-100: #FED7D7;
$--light-talk-colors-red-500: #E53E3E;
$--light-talk-colors-brand-100: #42ABA01f;
$--light-talk-colors-brand-600: #42ABA0; // Main color
$--light-talk-colors-brand-900: #24645D; // Dark color
$--light-talk-colors-borderColor: rgb(219, 220, 224);
$--light-talk-color-chat-conversation-background: rgba(246, 248, 250, 0.8);
$--light-talk-borders-2px: 2px solid;
$--light-talk-fonts-body: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
$--light-talk-fontSizes-2xs: calc(0.625 * $--light-talk-shadow-root-font-size);
$--light-talk-fontSizes-sm: calc(0.875 * $--light-talk-shadow-root-font-size);
$--light-talk-fontSizes-md: calc(1 * $--light-talk-shadow-root-font-size);
$--light-talk-fontWeights-normal: 400;
$--light-talk-fontWeights-semibold: 600;
$--light-talk-fontWeights-bold: 700;
$--light-talk-radii-md: calc(0.375 * $--light-talk-shadow-root-font-size);
$--light-talk-space-1: calc(0.25 * $--light-talk-shadow-root-font-size);
$--light-talk-space-2: calc(0.5 * $--light-talk-shadow-root-font-size);
$--light-talk-space-3: calc(0.75 * $--light-talk-shadow-root-font-size);
$--light-talk-space-4: calc(1 * $--light-talk-shadow-root-font-size);
$--light-talk-shadows-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$--light-talk-shadows-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$--light-talk-sizes-6: calc(1.5 * $--light-talk-shadow-root-font-size);
$--light-talk-sizes-md: calc(28 * $--light-talk-shadow-root-font-size);
$--light-talk-zIndices-front: 2147483647;
$--light-talk-transition-property-common: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
$--light-talk-transition-duration-normal: 200ms;
