$--light-talk-colors-white: #1A202C;
$--light-talk-colors-whiteAlpha-700: rgba(255,255,255,0.16);
$--light-talk-colors-gray-100: #2D3748;
$--light-talk-colors-gray-300: #4A5568;
$--light-talk-colors-gray-400: #A0AEC0;
$--light-talk-colors-gray-500: #CBD5E0;
$--light-talk-colors-gray-700: #F7FAFC;
$--light-talk-colors-borderColor: #4A5568;
$--light-talk-color-chat-conversation-background: rgba(45,55,72,0.8);

@import "./light-theme.scss";
